---
import "./index.css"
import {Tabs } from "../components/Tabs"
import {Three} from "../components/Three"
---


<html lang="en">

	<head>
		<meta charset="utf-8"                             />
		<meta name="viewport" content="width=device-width"/>
	</head>

	<body>
			<div class="Container Tabs" > <Tabs  client:only="solid-js"/> </div>
			<div class="Container Three"> <Three client:visible        /> </div>
	</body>

</html>
